body {
    background-color: #0E1D13;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
}

h2 {
    color: #D8A966;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

label {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

button {
    background-color: #FFFFFF;
    color: #A52A2C;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

a {
    color: #D8A966;
    text-decoration: underline;
    font-weight: bold;
}